[
  {lager, [
    {handlers, [
      {lager_file_backend, [
        {file, "log/error.log"}, {level, error}
      ]},
      {lager_file_backend, [
        {file, "log/console.log"}, {level, info}
      ]}
    ]}
  ]},

  {http_proxy, [
    { port, 8080 },
    { workers, 256 },
    { timeout, 10000 },
    { sync_stream, true },
    % { stream_chunk_size, 4096 },
    { enable_gzip, true },
    { rewrite_rules, [
        % { "^http://[^/]+/mail/(.*)$", "http://mail.ru/\\1" }
      ]}
  ]}
].
